.preview-wrap {
  position: absolute;
  // top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 601px;
  z-index: -1;
  overflow: hidden;
  height: calc(100% - 56px);
  background-color: #f7f8fa;
}
